/* Jump to Content*/
a.skip-main {
  left:-999px;
  position:absolute;
  top:auto;
  overflow:hidden;
}

a.skip-main:focus {
  left:auto;
  top: auto;
  position:absolute;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}
/* Fonts */
html {
  font-family: 'Open Sans', sans-serif;
}
/* Layout */
.clear{
  clear: both;
}

.third{
  float: left;
  width: 33.3%;
}

.left {
  text-align: left;
  line-height: 20px;
}

.center {
  text-align: center;
  line-height: 20px;
}
.full {
  padding: 20px;
}
.full:after {
  content: "";
  display: table;
  clear: both;
}

.fifth {
  float: left;
  width: 19%;
  padding: 1px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.tagline {
  text-align: center;
  font-weight: normal;
}
/* Navigation */
a{
  text-decoration:none;
}

nav ul {
  padding-top: 5px;
  padding-bottom: 5px;
}
nav ul li{
  list-style: none;
  display: inline;
  padding-left: 75px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
}

a.menu{
  color: blue;
}

a.menu:hover, a.menu:active {
  color: purple;
}

/* Footer */
footer{
  background-color: #333;
}

footer p {
  color: #efefef;
}

#footer_nav {
  float: right;
  margin-right: 50px;
  width: auto;
  text-align: right;
}

#footer_nav a.menu{
  color: #efefef;
  line-height: 20px;
}

#footer_nav ul li {
  list-style: none;
}

.copyright{
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #efefef;
  border-top: 1px solid #000;
}
